$fondColorN1 : #e5e5e5;
$fondColorN2 : #ffffff;



$primaryWhite : #FFFFFF;
$secondWhite : #eaeaea;
$thirdWhite: #f5f5f5;
$primaryWhite09 : rgba(255,255,255,0.9);
$primaryWhite08 : rgba(255,255,255,0.8);
$primaryWhite05 : rgba(255,255,255,0.5);
$primaryWhite02 : rgba(255,255,255,0.2);
$primaryWhite01 : rgba(255,255,255,0.1);
$primaryWhite005 : rgba(255,255,255,0.05);

$primaryBlack: rgba(0,0,0,1);
$primaryBlack09: rgba(0,0,0,0.9);
$primaryBlack08: rgba(0,0,0,0.8);
$primaryBlack05: rgba(0,0,0,0.5);
$primaryBlack02: rgba(0,0,0,0.2);
$primaryBlack01: rgba(0,0,0,0.1);
$primaryBlack005: rgba(0,0,0,0.05);

$colorLign1: #fbfbfb;
$colorLign2: #f5f5f5;

$bgLightColor: #ecf2f3;
$bgLightColorL: #f5f5f5;
$bgLightColorBW: #ffffff;
$fontLightColor: #000000;

$bgDarkColor: #1a1c1c;
$bgDarkColorL: #232425;
$bgDarkColorBW: #000000;
$bgDarkColorBW05: rgba(0,0,0,0.5);
$bgDarkColorBW02: rgba(0,0,0,0.2);
$bgDarkColorW02: rgba(255,255,255,0.2); 
$fontDarkColor: #ffffff;


$txtcolor: #1a1c1c;