$bleuCL : #007cb7;
$bleuDCL : #006494;
$bleuDCL : #004b6f;


$bleuCLTransparent : rgba(0,124,183,0.8);
$grisCL : #aca39b;


$primaryWhite : #FFFFFF;
$secondWhite : #eaeaea;
$thirdWhite: #f5f5f5;

$colorLign1: #fbfbfb;
$colorLign2: #f5f5f5;

$bgcolor: #1a1c1c;
$bgcolorL: #232425;
$bgcolorBW: #000000;