$notif :"\f0f3";

$administration :"\f7d9";
$course : "\f19d";
$participants : "\f0c0";
$badges : "\f0a3";
$bag : "\f0b1";
$book : "\f02d";
$compentecies : "\f0eb";
$grades : "\f123";
$dashboard : "\f624";
$home : "\f015";
$calendar : "\f073";
$files :"\f15b";

$iconConfig :"\f013";
$iconConfigSlider :"\f1de";
$addblock :"\f067";
$arrowBlod : "\f054";
$arrowNext : "\f054";
$arrowPrevious : "\f053";
$arrow : "\f105";
$login : "\f090";
$logout : "\f08b";
$event : "\f274";
$tag : "\f292";
$rss : "\f09e";
$glossary : "\f02d";
$messages : "\f075";
$user : "\f007";
$plans : "\f279";
$announcements : "\f1ea";
$code : "\f121";
$search : "\f002";
$comments : "\f27a";
$bookmarks : "\f02e";
$reset : "\f01e";
$leave : "\f08b";
$mycourse : "\f0b1";
$iconClose : "\f00d";
$iconEdit : "\f040";
$goTop : "\f01b";
$goTop : "\f34d";
$square : "\f096";
$squareCheck : "\f046";
$ellipsis : "\f141";
$hideeye : "\f070";
$save : "\f0c7";

$iconNav : "\f0c9 ";
$iconRSFacebook : "\f09a";
$iconRSInstagram : "\f16d";
$iconRSTwitter : "\f099";
$iconRSYoutube : "\f167";

$iconMenuBlog : "\f27a";
$iconMenuSupport : "\f1cd";
$iconMenuTeam : "\f0c0";
$iconMenuContact : "\f0e0";

$iconProgressBar : "\f58d";
$iconProgressBar : "\f058";
$iconBadge : "\f5a2";
$iconBadge : "\f559";
$iconNote : "\f5c0";
$iconEditActivity : "\f044";
$iconPen : "\f044";

$iconArrowCircleR : "\f0a9";
$iconArrowtoBtm : "\f34a";

$circle :"\f111";

$done :"\f14a";
$undo :"\f04d";

$darkmode :"\f186";

$headerH: 80px;
$bodyH: calc(100% - 80px);