{{{ output.doctype }}}
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="Bienvenue sur la plateforme Moodle de la hes-so. Moodle est un outil de e-learning permettant aux professeurs de proposer des supports de cours en ligne, de tests en ligne et bien d'autres choses">
</head>




