<div class="progress  w-100">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" style= "width: {{progress}}%" aria-valuemin="0" aria-valuemax="100"> 
    	<div class="small">
		   {{progress}}% {{#str}}complete, theme_argil{{/str}}
		</div>
    </div>
</div>
